*:not(dl,ol){
    margin: 0px;
    padding: 0px;
}
header{
    position: sticky;  
    animation: head-load 800ms;
}
@keyframes head-load{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
h1{
    margin-right:  40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
nav>a{
    padding: 10px;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: x-large;
    color: white;
}
a:hover{
    background-color: #FFFFFF44;
}
#pointer{
    color: orange;
}
#banner{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-image: url("./images/Logoicono.ico");
    background-size: 10%;
    background-repeat: repeat;
    background-color: yellow;
    background-blend-mode: darken;
}

/* -----------LISTAS--------------*/

h2,h3,dl,dt,p{
    font-family: cursive;
    padding-bottom: 10px;
}
dl{
    text-align: left;
}
dl>dt,li{
    font-weight: bold;
    padding-top: 5px;
}
/* -----------RULES--------------*/

#all-pages-main{
    width: 1400px;
    height: 1700px;
    margin-left: 10%;
    background-color: white;
    padding-left: 100px;
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
}
.rules-section{
    font-size: larger;
    width: 80vh;
    line-height: 2rem;
}
#rules-images{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
#ruleimg1{
    width: 500px;
    height: 300px;
    padding-left: 50px;
}
#ruleimg2{
    width: 80%;
    padding-top: 70px;
}
/* -----------GAME_INFO--------------*/
#game-info{
    text-align: left;
    width: 1400px;
    height: 1700px;
    margin-left: 10%;
    background-color: white;
    padding: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
table,td,tr{
    text-align: center;
    border-collapse: collapse;
}
td{
    height: 50px;
    border: 2px solid black;
}
#game_info_title{
    padding-bottom: 30px;
}
/* -----------CONTACT--------------*/
#contact-main{
    width: 1400px;
    height: 560px;
    margin-left: 10%;
    background-color: white;
    padding-left: 100px;
    padding-top: 60px;
    display: flex;
}
#contact_section{
    display: flex;
    text-align: center;
    align-items: center; 
}
#article_contact{
    padding-left: 40px;
}